---
import BlankNoContainer from './BlankNoContainer.astro';
import avatar from '../assets/avatar-placeholder.png';
import placeholder from '../assets/image-placeholder.jpg';

export type veteranData = {
	frontmatter: {
		firstName: string;
		lastName: string;
		maidenName?: string;
		middleName?: string;
		serviceBranch: string[];
		datesOfService: string[];
		rankAtDischarge: string[];
		gender: 'M' | 'F';
		recruitmentType?: 'drafted' | 'enlisted' | 'commissioned';
		battalion: string[];
		home: string[];
		birthDate?: string;
		deathDate?: string;
		wars?: string[];
		jobs?: string[];
		awards?: string[];
		overseasDuty?: string[];
		statesideAssignments?: string[];
		basicTraining?: string[];
		advancedTraining?: string[];
	};
};

const {
	frontmatter: {
		firstName,
		lastName,
		middleName,
		maidenName,
		serviceBranch,
		datesOfService,
		rankAtDischarge,
		gender,
		birthDate,
		deathDate,
		home,
		awards,
		wars,
		advancedTraining,
		overseasDuty,
		jobs,
	},
} = Astro.props as veteranData;

const title = `${firstName} ${middleName ? middleName + ' ' : ''}${lastName}`;
---

<BlankNoContainer title={title}>
	<div class="container">
		<article>
			<section class="biography p-2 my-2">
				<div class="row">
					<div class="col-4 col-md-6">
						<img
							class="w-auto h-auto object-fit-cover img-thumbnail"
							src={avatar.src}
							alt="Placeholder Image"
						/>
					</div>
					<div class="col-8 col-md-6">
						<h1>{title}</h1>
						<div class="bio">
							<p class="bio__gender">
								<b>Gender:</b>
								{gender === 'M' ? 'Male' : 'Female'}
							</p>
							{
								maidenName && (
									<p class="bio__maiden-name">
										<b>Maiden Name:</b> {maidenName}
									</p>
								)
							}
							{
								home && (
									<p class="bio__home">
										<b>Home:</b> {home}
									</p>
								)
							}
							{
								birthDate && (
									<p class="bio__birth-date">
										<b>Birth Date:</b> {birthDate}
									</p>
								)
							}
							{
								deathDate && (
									<p class="bio__death-date">
										<b>Death Date:</b> {deathDate}
									</p>
								)
							}
						</div>
					</div>
				</div>
			</section>
			<section
				class="service bg-secondary-subtle pb-2 overflow-x-scroll border border-1 border-black rounded rounded-3"
			>
				<ul
					class="nav nav-tabs flex-nowrap overflow-x-scroll align-items-center text-center"
					id="myTab"
					role="tablist"
				>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link active"
							id="service-information-tab"
							data-bs-toggle="tab"
							data-bs-target="#service-information-tab-pane"
							type="button"
							role="tab"
							aria-controls="service-information-tab-pane"
							aria-selected="true">Service Information</button
						>
					</li>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link"
							id="awards-tab"
							data-bs-toggle="tab"
							data-bs-target="#awards-tab-pane"
							type="button"
							role="tab"
							aria-controls="awards-tab-pane"
							aria-selected="false">Awards & Commendations</button
						>
					</li>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link"
							id="training-tab"
							data-bs-toggle="tab"
							data-bs-target="#training-tab-pane"
							type="button"
							role="tab"
							aria-controls="training-tab-pane"
							aria-selected="false">Training</button
						>
					</li>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link"
							id="overseas-tab"
							data-bs-toggle="tab"
							data-bs-target="#overseas-tab-pane"
							type="button"
							role="tab"
							aria-controls="overseas-tab-pane"
							aria-selected="false">Overseas Duty</button
						>
					</li>
					<li class="nav-item" role="presentation">
						<button
							class="nav-link"
							id="jobs-tab"
							data-bs-toggle="tab"
							data-bs-target="#jobs-tab-pane"
							type="button"
							role="tab"
							aria-controls="jobs-tab-pane"
							aria-selected="false">Jobs</button
						>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div
						class="tab-pane fade show active"
						id="service-information-tab-pane"
						role="tabpanel"
						aria-labelledby="service-information-tab"
						tabindex="0"
					>
						<h2 class="service__headline">Service Information</h2>
						{
							wars && (
								<p class="wars">
									<b>{wars.length > 1 ? 'Wars:' : 'War:'}</b>{' '}
									{wars.join(', ')}
								</p>
							)
						}
						{
							datesOfService && (
								<p class="dates-of-service">
									<b>
										{datesOfService.length > 1
											? 'Dates of Service:'
											: 'Date of Service:'}
									</b>{' '}
									{datesOfService.join(', ')}
								</p>
							)
						}
						{
							serviceBranch && (
								<p class="service-branch">
									{serviceBranch.length > 1 ? (
										<b>Branches of service:</b>
									) : (
										<b>Branch of service:</b>
									)}{' '}
									{serviceBranch.join(', ')}
								</p>
							)
						}
						{
							rankAtDischarge && (
								<p class="rank">
									{rankAtDischarge.length > 1 ? (
										<b>Ranks at discharge:</b>
									) : (
										<b>Rank at discharge:</b>
									)}{' '}
									{rankAtDischarge.join(', ')}
								</p>
							)
						}
					</div>
					<div
						class="tab-pane fade"
						id="awards-tab-pane"
						role="tabpanel"
						aria-labelledby="awards-tab"
						tabindex="0"
					>
						<h2 class="awards__headline">Awards</h2>
						{
							awards && (
								<ul class="awards-list">
									{awards.map((award) => (
										<li class="awards-list__item">
											{award}
										</li>
									))}
								</ul>
							)
						}
					</div>
					<div
						class="tab-pane fade"
						id="training-tab-pane"
						role="tabpanel"
						aria-labelledby="training-tab"
						tabindex="0"
					>
						<h2>Advanced Training</h2>
						{
							advancedTraining && (
								<ul class="advanced-training-list">
									{advancedTraining.map((training) => (
										<li class="advanced-training-list__item">
											{training}
										</li>
									))}
								</ul>
							)
						}
					</div>
					<div
						class="tab-pane fade"
						id="overseas-tab-pane"
						role="tabpanel"
						aria-labelledby="overseas-tab"
						tabindex="0"
					>
						<h2>Overseas Duty</h2>
						{
							overseasDuty && (
								<ul class="overseas-duty-list">
									{overseasDuty.map((deployment) => (
										<li class="overseas-duty-list__item">
											{deployment}
										</li>
									))}
								</ul>
							)
						}
					</div>
					<div
						class="tab-pane fade"
						id="jobs-tab-pane"
						role="tabpanel"
						aria-labelledby="jobs-tab"
						tabindex="0"
					>
						<h2>Jobs</h2>
						{
							jobs && (
								<ul class="jobs-list">
									{jobs.map((job) => (
										<li class="jobs-list__item">{job}</li>
									))}
								</ul>
							)
						}
					</div>
				</div>
			</section>
			<section class="additional-material my-5">
				<h2>Additional Material</h2>
				<div class="row row-cols-lg-3 justify-content-between gap-5">
					{
						Array.from(Array(6)).map(() => (
							<div
								class="card gx-0 flex-grow-1"
								aria-hidden="true"
							>
								<div class="row">
									<div class="col-4">
										<img
											src={placeholder.src}
											class="card-img-top w-100 h-100 object-fit-cover"
											alt="placeholder image"
										/>
									</div>
									<div class="col-8">
										<div class="card-body">
											<h5 class="card-title placeholder-glow">
												<span class="placeholder col-6" />
											</h5>
											<p class="card-text placeholder-glow">
												<span class="placeholder col-7" />
												<span class="placeholder col-4" />
												<span class="placeholder col-4" />
												<span class="placeholder col-6" />
												<span class="placeholder col-8" />
											</p>
											<a
												class="btn btn-primary disabled placeholder col-6"
												aria-disabled="true"
											/>
										</div>
									</div>
								</div>
							</div>
						))
					}
				</div>
			</section>
		</article>
	</div>
	<style lang="scss">
		.tab-pane {
			padding: 1rem;
		}
	</style>
	<script>
		import Tab from 'bootstrap/js/dist/tab';
		(function handleDrag() {
			const list = document.getElementById('myTab');
			let isDown = false;
			let startX;
			let scrollLeft;

			list.addEventListener('mousedown', (e) => {
				isDown = true;
				startX = e.pageX - list.offsetLeft;
				scrollLeft = list.scrollLeft;
			});

			list.addEventListener('mouseleave', () => {
				isDown = false;
			});

			list.addEventListener('mouseup', () => {
				isDown = false;
			});

			list.addEventListener('mousemove', (e) => {
				if (!isDown) return;
				e.preventDefault();
				const x = e.pageX - list.offsetLeft;
				const walk = (x - startX) * 3; //scroll-fast
				list.scrollLeft = scrollLeft - walk;
			});
		})();
	</script>
</BlankNoContainer>
