---
import BlankHeaderFooterContainer from './BlankHeaderFooterContainer.astro';
import avatar from '../assets/avatar-placeholder.png';
import placeholder from '../assets/image-placeholder.jpg';
import TabbedContent from '../components/TabbedContent.astro';

export type veteranData = {
	frontmatter: {
		firstName: string;
		lastName: string;
		maidenName?: string;
		middleName?: string;
		serviceBranch: string[];
		datesOfService: string[];
		rankAtDischarge: string[];
		gender: 'M' | 'F';
		recruitmentType?: 'drafted' | 'enlisted' | 'commissioned';
		battalion: string[];
		home: string[];
		birthDate?: string;
		deathDate?: string;
		wars?: string[];
		jobs?: string[];
		awards?: string[];
		overseasDuty?: string[];
		statesideAssignments?: string[];
		basicTraining?: string[];
		advancedTraining?: string[];
	};
};

const { frontmatter } = Astro.props;
const {
	firstName,
	lastName,
	middleName,
	maidenName,
	gender,
	birthDate,
	deathDate,
	home,
} = frontmatter;

const title = `${firstName} ${middleName ? middleName + ' ' : ''}${lastName}`;
---

<BlankHeaderFooterContainer title={title}>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" aria-current="page">
					<a href="/wireframe-veterans-archive/">Home</a>
				</li>
				<li class="breadcrumb-item" aria-current="page">
					<a href="/wireframe-veterans-archive/search"
						>Search Results</a
					>
				</li>
				<li class="breadcrumb-item active" aria-current="page">
					{title}
				</li>
			</ol>
		</nav>
		<article>
			<section class="biography p-2 my-2">
				<div class="row">
					<div class="col-4 col-md-6">
						<img
							class="w-auto h-auto object-fit-cover img-thumbnail"
							src={avatar.src}
							alt="Placeholder Image"
						/>
					</div>
					<div class="col-8 col-md-6">
						<h1>{title}</h1>
						<div class="bio">
							<p class="bio__gender">
								<b>Gender:</b>
								{gender === 'M' ? 'Male' : 'Female'}
							</p>
							{
								maidenName && (
									<p class="bio__maiden-name">
										<b>Maiden Name:</b> {maidenName}
									</p>
								)
							}
							{
								home && (
									<p class="bio__home">
										<b>Home:</b> {home}
									</p>
								)
							}
							{
								birthDate && (
									<p class="bio__birth-date">
										<b>Birth Date:</b> {birthDate}
									</p>
								)
							}
							{
								deathDate && (
									<p class="bio__death-date">
										<b>Death Date:</b> {deathDate}
									</p>
								)
							}
						</div>
					</div>
				</div>
			</section>
			<section
				class="service bg-secondary-subtle pb-2 overflow-x-scroll border border-1 border-black rounded rounded-3"
			>
				<TabbedContent frontmatter={frontmatter} />
			</section>
			<section class="additional-material my-5">
				<h2>Additional Material</h2>
				<div class="row row-cols-lg-3 justify-content-between gap-5">
					{
						Array.from(Array(6)).map(() => (
							<div
								class="card gx-0 flex-grow-1"
								aria-hidden="true"
							>
								<div class="row">
									<div class="col-4">
										<img
											src={placeholder.src}
											class="card-img-top w-100 h-100 object-fit-cover"
											alt="placeholder image"
										/>
									</div>
									<div class="col-8">
										<div class="card-body">
											<h5 class="card-title placeholder-glow">
												<span class="placeholder col-6" />
											</h5>
											<p class="card-text placeholder-glow">
												<span class="placeholder col-7" />
												<span class="placeholder col-4" />
												<span class="placeholder col-4" />
												<span class="placeholder col-6" />
												<span class="placeholder col-8" />
											</p>
											<a
												class="btn btn-primary disabled placeholder col-6"
												aria-disabled="true"
											/>
										</div>
									</div>
								</div>
							</div>
						))
					}
				</div>
			</section>
		</article>
	</div>
</BlankHeaderFooterContainer>
